{
  "env": {
    "development": {
      "plugins": ["inline-dotenv"],
      "presets": ["next/babel"],
    },
    "production": {
      "plugins": ["transform-inline-environment-variables"],
      "presets": ["next/babel"],
    },
    "test": {
      "plugins": ["inline-dotenv"],
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}
